/* Add or modify styles as needed */
.main-container {
  display: flex;
}

.sidebar {
  width: 5%;
  background-color: #ddd;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
}

.container {
  width: 95%;
  padding: 20px;
}

.top-bar {
  background-color: #ddd; /* Adjust background color as needed */
  padding: 10px;
}

.navigation-bar {
  /* Add styling for navigation bar */
}

.content-container {
  display: flex;
}

.left-section {
  width: 20%;
  padding: 10px;
  /* Add styling for cards or other content */
}

.right-section {
  width: 80%;
  /* Add styling for YouTube video or other content */
}